* {
   margin: 0;
   font-size: 3.2svw;
   --font: 'Radio Canada', sans-serif;

   font-family: var(--font);


}

html {
   margin: 0;
   display: grid;
   height: 100%;
   width: 100%;
   box-sizing: border-box;
   

}

body {
   display: grid;
   background: red;
   font-family: 'Radio Canada', sans-serif;
      /* VARIABLES */
   }

#start-modal {
   position: fixed;
   place-self: center;
   width: 62vw;
   height: 32vw;
   background: rgb(255, 255, 255);
   border-radius: 1.62rem;
   border: 1px solid white;


   display: grid;
   place-items: center;
   place-content: center;
   grid-template-areas: 
   "query query"
   "yes no";
   column-gap: 2rem;
   row-gap: 2rem;
   
   z-index: 10;
}

#start-modal::before {
   position: fixed;
   content: "";
   z-index: -1;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   background: rgba(0, 0, 0, 0.35);
   backdrop-filter: blur(0.44rem);
}


/* modal area buttons  */
.query {
   grid-area: query;
}

.yes {
   grid-area: yes;
}

.no {
   grid-area: no;
}



  

.game-buttons {
   margin: 1rem 0 0 0;
   display: grid;
   place-items: center;
   place-content: center;
   grid-auto-flow: column;
   gap: 1rem;
   padding: 1rem;
   background: red;
   box-sizing: 0 0.2rem 0.2rem 0 rgba(0 0 0 0.2);
}



button {
   position: relative;
   background: rgb(237, 237, 237);
   border: none;
   border-radius: 50%;
   text-align: center;
   padding: 0.4rem;
   overflow: visible;
   width: 5rem;
   height: 5rem;

   box-shadow: inset 0.2rem 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.21);
   filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.396));
   transform-origin: center;
}

button:after {
   position: absolute;
   left: 0;
   top: 0;
   transform: scale(0.1);
   content: "";
   border: 0.1px solid rgba(255, 255, 255, 1);
   border-radius: 50%;
   width: 100%;
   height: 100%;
   background: none;
   transition: all ease-in-out 2000ms;
   box-shadow: none;
   
   z-index: 10

}

button:active:after {
   /* width: 10rem;
   height: 10rem; */
   transform: scale(10);
   border: 1px solid rgba(255, 255, 255, 0);
}

button:hover {
   background: rgb(255, 255, 255);
   box-shadow: inset 0px 0px 0rem 0rem red;
   filter: drop-shadow(0px 0px 0.4rem white);
   cursor: pointer;
   transition: box-shadow ease-in-out 200ms, filter ease-in-out 400ms;
   transition-delay: filter 200ms;

}

button:active {
   transition-duration: 1000ms;
   transition-delay: 1500ms;
   box-shadow: 0px 0px 20rem 20rem white;
   z-index: 100;
}

.arena {
   position: relative;
   overflow: hidden;
   display: grid;
   grid-template-columns: 1fr 1fr;
   place-items: center;
   place-content: center;
   width: 100%;
   height: 40vh;
   background: rgba(0, 0, 0, 0.1);
   
   text-align: center;

   
}

#user-rock, #user-paper, #user-scissors, #pc-rock, #pc-paper, #pc-scissors {
   position: absolute;
   transform-origin: center;
}

#user-rock, #user-paper, #user-scissors {
   left: -15vw;
   transition: transform ease 500ms;
}
#pc-rock, #pc-paper, #pc-scissors {
   right: -15vw;
}