* {
   margin: 0;
   --font: 'Radio Canada', sans-serif;

   font-family: var(--font);



}

html {
   margin: 0;
   display: grid;
   margin: 0;
   display: grid;
   font-size: 2vw;


}

/* Mobile Base Sizings */
@media (orientation: portrait) {
   html {
      font-size: 2vh;
   }
}



body {

   margin: 0;
   padding: 0;
   height: 100vh;
   width: 100%;
   display: grid;
   background: red;
   font-family: 'Radio Canada',
      sans-serif;
   box-sizing: border-box;
   overflow: hidden;
}

p,
button {
   font-size: 1.2rem;
}

h2 {
   font-size: 3rem;
}

button {
   cursor: pointer;
   position: relative;
   background-color: transparent;
   color: white;
   border: 1px solid white;
   border-radius: 50%;
   text-align: center;
   padding: 0.4rem;
   overflow: visible;
   font-size: 2vmin;
   width: 16vmin;
   height: 16vmin;
   transform-origin: center;
   transition: background-color ease 500ms, transform ease 500ms;

}

button:hover {
   background-color: rgba(255, 255, 255, 0.62);
   color: black;
   transform: scale(111%);
}

#start-modal {
   position: absolute;
   place-self: center;
   display: grid;
   text-align: center;
   place-items: center;
   place-content: center;

   z-index: 10;

   background: rgba(255, 255, 255, 0.05);
   backdrop-filter: blur(0.44rem);
   -webkit-backdrop-filter: blur(0.44rem);

   width: 100vw;
   height: 100vh;
}

/* INTERACTIONS */
#interactions {
   display: grid;
   justify-items: center;
   align-items: start;
   height: 4rem;
   width: auto;
   overflow: hidden;
   padding: 1rem;
   background: red;
   box-shadow: 0rem -0.8rem 1rem 1rem rgba(0, 0, 0, 0.22);

   overflow: visible;
}

.scoreboard {
   display: grid;
   place-content: center;
   place-items: center;
   color: white;
   gap: 0.2rem;

   filter: drop-shadow(0 0.2rem 2px rgba(0, 0, 0, 0.44));
}

#round-board {
   background: white;
   color: red;
   padding: 0.4rem 1rem;
   border-radius: 0.2rem;
   height: fit-content;
}

#scores {
   padding: 0.4rem 1rem;
   transform-origin: center;
   width: max-content;
}

.round-interactions {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   left: 0;
   transform-origin: center;

   text-align: center;

   display: grid;
   place-content: center;
   gap: 1rem;

   color: white;


}

#smash {
   visibility: hidden;
   font-style: italic;
   font-weight: 900;
   font-size: 2.2rem;
   text-shadow: 0rem 0rem 1rem red;
   position: absolute;
   top: 32vh;
   justify-self: center;
   align-self: center;
}


.banger {
   position: absolute;
   background-image: radial-gradient(rgba(255, 255, 255, 1) 12%, rgba(255, 255, 255, 0.8) 31%, rgba(255, 255, 255, 0.6) 43%, rgba(255, 255, 255, 0) 64%);
   width: 44rem;
   height: 44rem;
   justify-self: center;
   align-self: center;
   border-radius: 50%;
   z-index: -1;
   backdrop-filter: blur(0.2rem);
   -webkit-backdrop-filter: blur(0.2rem);
   /* transform: scale(20%);
   transition: transform ease-in 2s; */
   animation: shaker 0.07s ease-in 0s infinite forwards;

}


#game-buttons {
   width: 60vmin;
   justify-self: center;
   height: 22vmin;
   display: grid;
   place-items: center;
   place-content: center;
   grid-auto-flow: column;
   gap: 1rem;
   padding: 1rem;
   background: rgba(254, 0, 0, 0.853);
   box-sizing: inherit;
   position: absolute;
   bottom: 0;
   box-shadow: 0rem 0.8rem 1rem 1rem rgba(0, 0, 0, 0.44);
   backdrop-filter: blur(0.62rem);
   -webkit-backdrop-filter: blur(0.62rem);
   overflow: hidden;
   border-radius: 10vmin 10vmin 0 0;

}

/* #game-buttons button {
   background: rgb(237, 237, 237);
   border: none;
   overflow: visible;


   box-shadow: inset 0.2rem 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.21);
   filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.396));
} */

#game-buttons button:after {
   position: absolute;
   left: 0;
   top: 0;
   transform: scale(0.1);
   content: "";
   border: 0.1px solid rgba(255, 255, 255, 1);
   width: 100%;
   height: 100%;
   background: none;
   transition: all ease-in-out 2000ms;
   box-shadow: none;

   z-index: 10
}

#game-buttons button:hover {
   background: rgb(255, 255, 255);
   box-shadow: inset 0px 0px 0rem 0rem red;
   filter: drop-shadow(0px 0px 0.4rem white);
   transition: box-shadow ease-in-out 200ms, filter ease-in-out 400ms;
   transition-delay: filter 200ms;

}

#game-buttons button:active {
   transition-duration: 1000ms;
   transition-delay: 1500ms;
   box-shadow: 0px 0px 20rem 20rem white;
   z-index: 100;
}


/* ILLUSTRATIONS */
.arena {
   position: absolute;
   overflow: hidden;
   display: grid;
   grid-template-columns: 1fr 1fr;
   place-items: center;
   justify-content: center;
   width: 100%;
   height: 100%;
   z-index: -10;
   background: linear-gradient(0deg, rgba(74, 0, 0, 1) 20%, rgba(196, 0, 0, 1) 78%, rgba(255, 0, 0, 1) 100%);

   text-align: center;
}

.arena>div {
   width: 100%;
   height: 100%;
   display: grid;
   align-items: center;
}


.arena img {
   height: auto;
   width: 26vmin;
   transform-origin: center;
   filter: drop-shadow(0 3rem 1rem rgba(0, 0, 0, 0.7));
   position: absolute;
   transform-origin: center;
   transition: transform ease-in 400ms;
}


#user-rock,
#user-paper,
#user-scissors,
#pc-rock,
#pc-paper,
#pc-scissors {}

#user-rock,
#user-paper,
#user-scissors {
   left: -22vw;
   transform: translate(0, 0);
}

#pc-rock,
#pc-paper,
#pc-scissors {
   right: -22vw;
   transform: translate(0, 0);
   transition-delay: 400ms;

}


.celebrities {
   z-index: -1;
   max-width: 100%;
   overflow: hidden;
}

.celebrity {
   position: absolute;
   width: auto;
   height: 12vh;
   transform-origin: center;
   left: 44%;
   bottom: 0;

}



/* ANIMATIONS  */

/* Material Movers */
@keyframes move-r {
   100% {
      transform: translate(62vw, 0);
   }
}

@keyframes move-l {
   100% {
      transform: translate(-62vw, 0);
   }
}


/* Smasher Movers */
@keyframes bring-f {
   0% {
      opacity: 0;
      transform: scale(20%);

   }

   20% {
      opacity: 1;
      visibility: visible;
      transform: scale(160%);
      transform: rotate(12deg);
      transform: translate (0, -20vh);

   }

   100% {
      transform: rotate(0deg);
      opacity: 1;
      visibility: visible;


   }

   /* 100% {
      opacity: 1;
      visibility: visible;

   } */


}

/* scores */
@keyframes score-b {
   24% {
      transform: translate(0, 16vh) scale(200%);
   }

   28% {
      transform: translate(0, 16vh) scale(300%);
      backdrop-filter: blur(1rem);
      -webkit-backdrop-filter: blur(1rem);
   }

   54% {
      transform: translate(0, 16vh) scale(300%);
      backdrop-filter: blur(1rem);
      -webkit-backdrop-filter: blur(1rem);

   }
}

/* banger */
@keyframes shaker {
   25% {
      transform: translate(2vh, 0) scale(144%);
   }

   50% {
      transform: translate(-2vh, 0) scale(100%);
   }

   25% {
      transform: translate(0, 2vh) scale(144%);
   }

   25% {
      transform: translate(0, -2vh) scale(100%);
   }
}

/* winner mat */
@keyframes winner-mat {
   1% {}

   100% {
      transform: scale(182%) translate(0, -26vh) rotate(-90deg);
      visibility: visible;
   }
}

/* drew mat */

@keyframes drew-mat {
   1% {}

   100% {
      transform: scale(360%) translate(0, -38%);
      visibility: visible;
   }
}


/* animation classes */
.move-right {
   animation: move-r 0.6s ease-in 0.1s forwards;
}

.move-left {
   animation: move-l 0.6s ease-in 0.1s forwards;
}

.bring-front {
   animation: bring-f 2.4s ease-out 0.1s forwards;
}

.score-bringer {
   animation: score-b 2s ease-in 0.2s backwards;
}

.winner {
   animation: winner-mat 2s ease-out 0.1s forwards;
   z-index: 5;
   visibility: visible;
   transition: 0ms;
   transform-origin: center;
   left: 40vw !important;
   bottom: -8vh;
}

.raise-drew {
   animation: drew-mat 2s ease-out 0.1s forwards;
   visibility: visible;
   z-index: 5;
   transition: 0ms;
   transform-origin: bottom;
}