* {
   margin: 0;
   font-size: 2vw;
   --font: 'Radio Canada', sans-serif;

   font-family: var(--font);


}

html {
   margin: 0;
   display: grid;
   height: 100%;
   width: 100%;
   box-sizing: border-box;

   

}

body {
   display: grid;
   background: red;
   font-family: 'Radio Canada', sans-serif;
}

p, button {
   font-size: 1.2rem;
}
h2 {
   font-size: 3rem;
}

button {
   cursor: pointer;
   position: relative;
   background-color: transparent;
   color: white;
   border: 1px solid white;
   border-radius: 50%;
   text-align: center;
   padding: 0.4rem;
   overflow: visible;
   width: 6rem;
   height: 6rem;

   transform-origin: center;
   transition: background-color ease 500ms, transform ease 500ms;

}

button:hover {
   background-color: rgba(255, 255, 255, 0.62);
   color: black;
   transform: scale(111%);
}

#start-modal {
   position: fixed;
   place-self: center;
   display: grid;
   text-align: center;
   place-items: center;
   place-content: center;

   z-index: 10;

   background: rgba(255, 255, 255, 0.05);
   backdrop-filter: blur(0.44rem);
   width: 100vw;
   height: 100vh;
}


.game-buttons {
   margin: 1rem 0 0 0;
   display: grid;
   place-items: center;
   place-content: center;
   grid-auto-flow: column;
   gap: 1rem;
   padding: 1rem;
   background: red;
   box-sizing: 0 0.2rem 0.2rem 0 rgba(0 0 0 0.2);
}

.game-buttons button {
   background: rgb(237, 237, 237);
   border: none;
   overflow: visible;

   box-shadow: inset 0.2rem 0.2rem 0.4rem 0.2rem rgba(0, 0, 0, 0.21);
   filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.396));
}

.game-buttons button:after {
   position: absolute;
   left: 0;
   top: 0;
   transform: scale(0.1);
   content: "";
   border: 0.1px solid rgba(255, 255, 255, 1);
   border-radius: 50%;
   width: 100%;
   height: 100%;
   background: none;
   transition: all ease-in-out 2000ms;
   box-shadow: none;
   
   z-index: 10

}

.game-buttons button:hover {
   background: rgb(255, 255, 255);
   box-shadow: inset 0px 0px 0rem 0rem red;
   filter: drop-shadow(0px 0px 0.4rem white);
   transition: box-shadow ease-in-out 200ms, filter ease-in-out 400ms;
   transition-delay: filter 200ms;

}

.game-buttons button:active {
   transition-duration: 1000ms;
   transition-delay: 1500ms;
   box-shadow: 0px 0px 20rem 20rem white;
   z-index: 100;
}

.arena {
   position: relative;
   overflow: hidden;
   display: grid;
   grid-template-columns: 1fr 1fr;
   place-items: center;
   place-content: center;
   width: 100%;
   height: 40vh;
   background: rgba(0, 0, 0, 0.1);
   
   text-align: center;

   
}

#user-rock, #user-paper, #user-scissors, #pc-rock, #pc-paper, #pc-scissors {
   position: absolute;
   transform-origin: center;
}

#user-rock, #user-paper, #user-scissors {
   left: -15vw;
   transition: transform ease-in 800ms;
}
#pc-rock, #pc-paper, #pc-scissors {
   right: -15vw;
   transition: transform ease-in 800ms;
   transition-delay: 1000ms;

}